PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?appName=<appname>
JWT_SECRET=your_jwt_secret_here
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://savora:savora123@rabbitmq:5672
